body {
  background-image: url("https://images.unsplash.com/photo-1523901839036-a3030662f220?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgb(15, 15, 15);
 
}

table {
  border-collapse: collapse;
  font-family: 'Courier New', Courier, monospace;
  font-style: initial;
  margin: auto;
}

td {
  border: 5px solid rgb(44, 44, 44);
  padding: 30px;
}
th {
  border: 5px solid rgb(44, 44, 44);
  background-color: rgb(142, 142, 136);
}



